
.board-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-container{
 

  margin: 20px;
  max-width: 500px;
  margin: 200px auto;
}

.playButton{

    height: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    background-color: skyblue;
    font-weight: bolder;
}

.palyerName{
  font-size: 30px;
  text-align: center;
}
